body {
    font-family: Arial, sans-serif;
}

.search-container {
    text-align: center;
    margin-top: 20px;
}

#weather-container {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}
